
.btn{

        
    
        /* Positioning */
        position: relative;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        float: right;
        display: list-item;
        clear: none;
        z-index: auto;
    
      
    
        /* Miscellaneous */
        overflow: visible;
        cursor: auto;
        visibility: visible;
    
        /* Effects */
   
    }

    #example .table{
    position: absolute;
    width: 20%;
    
}
